* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ====================================== OBIORA =========================================*/
body{
    width: 100%;
    height: auto;
    background-color: rgb(1, 63, 58);
}
nav{
   background: transparent;
   display: flex;
   width: 85%;
   height: 30px;
   margin-top: 20px;
   justify-content: center;
   align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    margin-left: 9vw;
}
nav ul li{
    margin-right: 4vw;
}
nav ul li a{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1vw;
}
nav ul li a:hover{
    font-size: 2vw;
}
nav ul li a b{
    font-size: 2vw;
    margin-right: 2vw;
}
nav ul li a b:hover{
    font-size: 2.5vw;
}
nav a button{
    font-family: "Poppins", sans-serif;
    margin-left: 32vw;
    background: transparent;
    width: 26%;
    border-radius: 12px;
    color: white;
    font-size: 1vw;
    
}
nav a button:hover{
    border-color: pink;
    font-size: 1.5vw;
}
.section1{
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.S1left{
    font-family: "Poppins", sans-serif;
    font-size: 3.1vw;
    margin-right: 6vw;
    color: white;
}
.S1left h1 b span{
    color: pink;
}
.S1right{
    display: block;
    justify-content: center;
}
.S1right p1{
    font-family: "Poppins", sans-serif;
    background-color: skyblue;
    color: skyblue;
    font-size: 0.2vw;
}
.S1right p2{
    font-family: "Poppins", sans-serif;
    height: auto;
    color: white;
    font-size: 1.3vw;
}


/* ======================================= OTUNBA ========================================*/



/* ========================================= MCC_GREY =====================================*/