* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====================================== OBIORA =========================================*/



/* ======================================= OTUNBA ========================================*/
.build-team {
    width: 100%;
    display: flex;
    
}


/* ========================================= MCC_GREY =====================================*/